@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f1f5f9;
  --primary: #0ea5e9;
  --bg-dark: #020617;
  --panel: #020617;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-bgDark: var(--bg-dark);
  --color-panel: var(--panel);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
